<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scut.weixinshare">

    <!-- app运行基础权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 腾讯定位sdk权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- PictureSelector权限，由该项目自身进行动态权限申请 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="WEIBZ-BFY3Q-LRS5Y-GNCCT-5J5P2-UZFJ4" />

        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.PickLocationActivity"
            android:label="@string/title_activity_pick_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ReleaseMomentActivity"
            android:label="发布动态"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MomentDetailActivity"
            android:label="动态正文"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.PersonalMomentActivity"
            android:label="个人主页"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:label="主界面"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.RegisterActivity"
            android:label="注册界面"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.BigPicActivity" />
        <activity android:name=".view.UserActivity"
            android:label="我的页面"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>